body {
  font-family: Verdana;
  padding: 20px;
  background-image: url("https://cdn.wallpapersafari.com/62/81/iU6oQ8.jpg");
}

.nav {
  margin-bottom: 10px;
  background-color: #5ab8cf54;
  padding: 10px;
  font-size: x-large;
}

.nav a {
  margin-right: 20px;
  color: rgb(10, 8, 8);
  text-decoration: none;
  vertical-align: middle;
}

.nav a:hover {
  color: rgb(112, 112, 112);
}

.content {
  padding: 20px;
}

.nav img {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: 15px;
}