{% extends "base.html" %} {% block title %} Monaco Racing {% endblock %} {%
block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/report.css') }}"
/>
{% endblock %} {% block content %}
<a href="#" id="expandLink" class="reverce-table">Expand</a>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Driver</th>
      <th>Team</th>
      <th>Best Lap</th>
    </tr>
  </thead>
  <tbody>
    {% for driver, info in drivers_info.items() %}
    <tr>
      <td>{{ info.place }}.</td>
      <td class="driver-name">{{ driver }}</td>
      <td>{{ info.team }}</td>
      <td>{{ info.best_lap }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document
    .getElementById("expandLink")
    .addEventListener("click", function (event) {
      event.preventDefault();
      var currentUrl = window.location.href;
      var newUrl;
      if (currentUrl.includes("?order=desc")) {
        newUrl = currentUrl.replace("?order=desc", "");
      } else {
        newUrl = currentUrl + "?order=desc";
      }
      window.location.href = newUrl;
    });
</script>
{% endblock %}
